@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Welcome";
}
<div class="register-box">
    <div class="register-logo">
        <img alt="Logo" src="~/Content/img/logo.png" class="img-responsive"/>
    </div>
    <div class="register-box-body">
        <h6 style="text-align:center">Welcome to the Plumbery Admin Site</h6>
    </div>
</div>