@{
    ViewBag.Title = "Home";
    ViewBag.Description = "Welcome";
}
<div class="register-box">
    <div class="register-logo">
        THE<b>PLUMBERY</b> <img src="../../Content/img/icon.png" height="44" />
    </div>
    <div class="register-box-body">
        <h6 style="text-align:center">Welcome to the Plumbery Admin Site</h6>
    </div>
</div>