<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs"/>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>YSGIlo5am4u3ygkiVUpZSkJB44OXm69nfU4HMoV/DsfeJCJavOxPMfaJ4TWT3eWRQdbzmtiRPPUg6Lo4kk2qP9ofuxFGdlCp6YqV0fDOn2nCHRhF1Hp4nnG5hdn4rcZ3Drny1Ul+7n07MFCSF4JG7C9IOg5Yc4FFJjRbUBYkR2sLVgdS/uGuerwY5aNwJUpWQaxgArhsEfz1ThTFEsvFqLFrln2BJZ3gd1+8nf8wKBFBtfiYeDISoPNhdKEPIfdbLmSRI1pGWURV79vIr52qz6vJvHW9v1f3GUuavpYveMzHxqRgOgckVnnaIMEzzKZty1DoQNtaTwSd1kOrjIl8Ig==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>heM6gbwF8Z1pspLX0ToZmAGI/02JIX2JNqnzPObwn0u41orANbv9nkX1Jnbb07XnSk53/VMzKzhenIg6koBTJuxHF40EBDkBbKEWlL+G6q/utvXWqstCYxyyijGUP35n4/1niIVE5qFXSJC7Ik+Xnr07OSew8Hg6mpPzAt3astDq7s4kZXsL+ph8NJXvX6+e7kgoKND3DNLXYEpX4Ushk9GlYHEfeGKsBJ06gy5vR/TBn5CXjyyCyjkzdrZbhkxhZ8xLcAAGxKUiRYk2PkFTNjmrPPOY0PEvC9re7CHyBSaTXD/8MoWh2LDlWkj18CFZBazJ/+GqCmhb25pAfCGsIJi0Uw7PQoQ1rdC9ugPshihy6lL8dQsUK1R2TSJNgrAxghepOVOfSsJ8IBpsYEjr8D35dAJMBdX8/t1mqQL4XsYT99mfJ2TArRRyKOysdMHLeHZEqIZb9O0pn+dtEPTiSF4s6H4kcNH4B5LYPHl/1buacB3e7fTPiKKQCqgGuIXqDdEjOUMf8SBQK90aTjlPok8+JpWcrlG39a1NyeUMbCtkVl1p1HOJtNgyabHjLPLYm+gynXnz5awCYWUahi4IdzWzuyp0c7Xn7ZqaAOqmgSgx7VgNzYtGYG2zqyjcvHgOkIrynpVMuNFRABhgrjFTDca2m2cXIjlhjWRKiYr9SKMvIP8f2nBPzw6T1YqGxjuVioHou2nAL8lbOio0cYq9nVDSWJlds4TMH/LqCOMQRmU=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>  
  <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>EGi4mDVLska+qi6eAvuaNQQuEgU96aiavooLweVcmKk/Om1KV7ADbHRe3Z6MkC1lujzN9dQ/FQD8GwEN7J7gmsEwCql1ebSXqd4uBniNXrFjXl1s1ONzmyI9r5VnFVoXtV4TVnUMxArgsvePkO+uME9R7fVqauCHT3H0MGSBIyB49bd7alE3XYBYqlvmMVHVv0LeTFEdOWdZa3W7LCFJI2C0h4+/hRcFMuaDwnJHWEzZ5/J3t5DY3z6kHUdxlV2+CynT9kOHtP+mjKpslk7hM9YCFXrq/67GHi/CJ4JEEj5t6s8ZopwDiaIeS5mCdSvBdpQ9iRIHe3dr4RXzIn1LlQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>CHVsTkr+dIXj75VJoWFNln/Tw0M5Fbc9cfSExsRgFXZ539D2MEjeDHWUQrSekkVt1WPGAr0AImUXbLIco0s+s8FXz0ueAvMZ60bMCZWx1QtJTbuuZiNn0pR8OEuJPnPtMv5xbrvHqf43+JejWM+Tr06hM0FpGq+Lddi+DCKTIXhUiSIORyyQvQcG/4EERMUvdiHaejkfwzYnbTbYGVt/7gG5B76y0gPcdYjTV+Wwk+f5UMyjb57F3L1zUJNoSI1aURt6e6zV+s7LUog2X/6A7WA5QpOOFedTb9fGpepIX+1HibLx/i617S5VcDSjxsGaa7RqnLqshkGVDfkc1/9sohObFyrTeWFoW4OkzR2dxaDiIWzLp4ucWI6+2WJvew9ulOsZmkxLj00BN/uuo1a/aUypfdloRxfDA4Y5FVEcDwfVXr/6B5cGA1OxqgRYvMgdNivl7JMNg7fJVmItbn0Rg0ibwaA5KeIMOE2OchKULx8LPMkd0oIXpOnKT+ab4yoCWRxT5bQfUlCv0bWqlPHzD6V0QPilDpzg2MkT59RrA+ol2NrtyK6j3lmWyf/hXGniMN6ct+GBgDZ4D1qdVZBX42UzPW+cy81lqS9rcA4lRMOOuTItJeU6WHcNo5VjWsQJSftj2zeCVTT94jk+qYd8s0yciF0YE0cKzsd31T+dX0zg9QVrDEFNlxho1jYqjcJtpcMZXbd4Yiks7sda/+Z2rCcNrYuOIdY1/mm2Ukr86KVI9MMzX/tej8VQfiDMgo8hRFfypn97ltUPLBfeMiasqHdepU+QKWCRr5woIWfd7JvGVcgV0kw99p5r4DJdLK4PBQZgy7oSCa7EMs9A65XndYkdy+1l9VVVAjH/YuTH7PESDB8Aztu9hzoQwOWK/BTS5HulwPPF8ng=</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <machineKey configProtectionProvider="RsaProtectedConfigurationProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>jIfx9KNIogZz92RAY84aHtM31u9UKcP983TUEZp3yQ60IWFI1zYB7D+c43WJ2If8mfLV9ul1Vc6hk+3G2HnXWOatIruOtHhZ12RZ1tkKwwwdjYQur60T0u96GTuslX5aW64iwctAUy1OXFp+4n9vlyObsk5OuCVso4mxNOn+XWNfcozmn5fq4yfoqmoQyrSb8eVMGVADdL1jz+OoU0S6UwYhdDb370dF02aaNjHIJ+qH8JYZQr+H/r8O/EqnC1SgPngsCXjbGuRmGHEEvqSo9VDzIYFuxH79p1uakYINUBnKQe6PfVGBX8DHF64sIoRbQcLxvGYGtMkxZv1aPOKmOg==</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>OZ0pIax3fNIshVi3RouKKCtezjWjtM24maM8v7BPZam2sqi/1/JpS8HJxAOPKLEoZTEYdt9mqWxolGplh4B8krxxrTTnhXitLseiu2qku/Kat9AIgb/HY5JCA3f3xNTbnir2M7QsGiOS+XLX5AgiZRfhtoY3IrmOc87XqWXuBnGURvY7I5Efz7jZnWYn39Mr6ieesvxZAZ34OvUsWeSB4qReLMpLF/RMiGQy0w2/t2BqSyL7P38LuxTEA7MPuS1noK+NNV3+PQcQCydNS73eD0+BQroX/C5h/CA2QvFZNZe8VDJRyhuEBxEO0gpy/gMF</CipherValue>
        </CipherData>
      </EncryptedData>
    </machineKey>
    <authentication mode="None"/>
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.6.1"/>
    <httpRuntime/>
    <siteMap defaultProvider="MvcSiteMapProvider">
      <providers>
        <clear/>
        <add name="MvcSiteMapProvider" type="MvcSiteMapProvider.DefaultSiteMapProvider, MvcSiteMapProvider" siteMapFile="~/Mvc.Sitemap"/>
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="RouteJs"/>
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.2.0" newVersion="3.3.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>