
@{
    ViewBag.Title = "Index";


#line default
#line hidden

#line 4 "P:\Plumbery\Plumbery.UI.MVC\Views\Inventory\Index.cshtml"

    ViewBag.Title = "List";
    Supervisor super = ViewBag.Supervisor;
}
<div class="box myforms-box">
    <div class="box-body myforms-box-body">
        @using (Html.BeginForm("UpdateInventory", "Inventory", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) {
            
                <div class="form-group has-feedback">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary btn-block btn-flat">
                                Browse… <input type="file" style="display:none" name="file" onchange="displayName()" id="file" />
                            </span>
                        </label>
                        <input type="text" class="form-control" id="uploadText" readonly="" placeholder="Upload Profile Image">
                    </div>
                </div>
                <div class="form-group has-feedback">
                    @Html.DropDownList("PlumberList",select,new { @class="form-control select2", @style="width:100%;" })
                </div>
                <div class="form-group has-feedback">
                    <input type="submit" value="Load" class="btn btn-flat btn-primary" />
                </div>
        }          
    </div>
    <div class="box-comment">
        @if (plumber != null) {
            <label class="label-success">@plumber.User.FullName + "'s Inventory"</label>                                    }else {

#line default
#line hidden

#line 8 "P:\Plumbery\Plumbery.UI.MVC\Views\Inventory\Index.cshtml"
        }

#line default
#line hidden

#line 9 "P:\Plumbery\Plumbery.UI.MVC\Views\Inventory\Index.cshtml"
        foreach (var item in Model) {


#line default
#line hidden

#line 10 "P:\Plumbery\Plumbery.UI.MVC\Views\Inventory\Index.cshtml"
            __o = item.Id;


#line default
#line hidden

#line 11 "P:\Plumbery\Plumbery.UI.MVC\Views\Inventory\Index.cshtml"
            __o = item.Material.StockCode;


#line default{#line 12           <label class="label-info">@item.Material.StockDescription</label>
        ehouse.Name        }
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function displayName() {
            var x = document.getElementById("file");
            var txt = "";
            if ('files' in x) {
                if (x.files.length == 0) {
                    txt = "Select one or more files.";
                } else {
                    for (var i = 0; i < x.files.length; i++) {
                        var file = x.files[i];
                        if ('name' in file) {
                            txt += file.name;
                        }
                        if ('size' in file) {
                            txt += " [" + file.size + "]";
                        }
                    }
                }
            }
            document.getElementById("uploadText").value = txt;
        }
    </script>
    }